body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-ui {
    text-align: center;
}

.icon {
    width: 40px;
    height: 40px;
}

.profile, .wallet, .level, .tap-feedback, .navigation-buttons {
    margin: 15px;
}

.tap-logo {
    width: 100px;
    height: 100px;
}

.nav-button {
    display: inline-block;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.nav-button img {
    display: block;
    margin: 0 auto 5px;
}
